* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    text-align: center;
}

h1{
  margin: 32px 0 ;

}

p{
  padding: 16px 0;

}

section{
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding-bottom: 16px;
}

input{
  text-align: center;
  height: 42px;
  line-height: 42px;
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;

}

button{
  background-color: lightblue;
  border: none;
  outline: none;
  border-radius: 6px;
  height: 42px;
  line-height: 42px;
  padding: 0 16px;
  font-weight: bold;
}

button:hover{
  font-weight: bold;

}

.form{
  padding: 0 16px 32px;
}

#board {
    background-color: #f3f6ff;
    position: relative;
    margin: auto;
  }

  .tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    background-color: #e8a8a8;
    border: 1px solid #f8f8f8;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

  }

  .tile:hover {
    background-color: #e79898;
    transform: scale(1.1);
    z-index: 2;
  }

  .tile:active {
    animation-name: fade;
    animation-iteration-count: 1;
    animation-duration: .3s;
    transition: all .3s ease-in;
    z-index: 2;
  }

  #message {
    padding: 16px;
    font-size: 24px;
    margin-top: 10px;
  }

  @keyframes fade {
    0% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
  }